.capt3 {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 20px;
}
.capt6 {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 50px;
}
.capt9 {
  background-color: rgba(0, 0, 0, 0.9);
  padding: 20px;
}
